@import "./materialize/materialize";
h1 {
    @extend .indigo-text;
}

a {
    .material-icons {
        cursor: pointer;
    }
}

.inline-list-form {
    .input-field {
        margin-top: 0;
        display: inline-block;
        width: 70%;
        input {
            margin-bottom: 0;
        }
    }
    a {
        display: inline-block;
    }
}

.categories {
    .category-detail-actions {
        button {
            float: right;
            clear: both;
            margin-bottom: 1rem;
        }
    }
    .card-action {
        button {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }
    }
}

.status-bar-wrapper {
    height: 4px;
    .status-bar {
        margin: 0;
    }
}

.attachment-thumb {
    float: left;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    padding: 2px;
    border: 1px solid #ccc;
}
